AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterFunction: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^"binrec/'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 1
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SpacesInContainerLiterals: false
