*.swp
*.swo
s2e-out-*
s2e-last
out-*
build/
*.raw
*.s2e
*.s2e.*
*.ll
*.bc
*.s
*.o
*.obj
*.dot
*.svg
*.exe
last.png
*.out
*.dat
*.pyc
*/core
*.map
*.id*
*.nam
_mnt
*.log
qemu/cmd-config
docker/multicompiler-automation/
README.html
multicompiler/
