[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
jinja-markdown = "*"
jsonschema = "*"

[dev-packages]
black = "==22.8.0"
flake8 = "*"
mypy = "==0.981"
pytest = "*"
isort = "*"
coverage = "*"
sphinx = "*"
pytest-rerunfailures = "*"
sphinxcontrib-spelling = "*"
doc8 = "*"

[requires]
python_version = "3.9"
