[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"

[dev-packages]
black = "==22.3.0"
flake8 = "*"
mypy = "*"
pytest = "*"
isort = "*"
coverage = "*"
sphinx = "*"
pytest-rerunfailures = "*"

[requires]
python_version = "3.9"
