[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
isort = "*"
coverage = "*"
sphinx = "*"

[requires]
python_version = "3.9"
