{% extends "base.html" %}

{% block head %}
<title>Add Trace: {{project}}</title>
{% endblock %}

{% block body %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('project_details', project=project)}}">{{project}}</a></li>
        <li class="breadcrumb-item active">Add Trace</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <h1>Add Trace: {{project}}</h1>
        {% if error %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endif %}

        <form method="POST">
            <div class="mb-3">
                <label for="trace_name" class="form-label">Trace Name</label>
                <input type='text' name="trace_name" value="{{trace_name}}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="trace_args" class="form-label">Command Line Arguments (concrete)</label>
                <input type='text' name="trace_args" value="{{trace_args}}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="trace_symbolic_args" class="form-label">Symbolic Argument Indices</label>
                <input type='text' name="trace_symbolic_args" value="{{trace_symbolic_args}}" class="form-control">
                <div class="form-text">
                    A space seperated list of argument indices that are symbolic. The first argument starts at "1".
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}
