<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <style>
        td.shrink, th.shrink {
            white-space: nowrap;
            width: 1%;
        }
    </style>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
  </body>
</html>
