<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

    <style>
        td.shrink, th.shrink {
            white-space: nowrap;
            width: 1%;
        }

        pre.code-block {
            padding: 10px;
            background-color: #eee;
            border: 1px solid #aaa;
            border-radius: 5px;
        }
        td, th {
            vertical-align: middle;
        }
    </style>

    {% block head %}
    {% endblock %}
  </head>

  <body>

    <div class="container">
        {% block body %}
        {% endblock %}

        <div class="row">
            <div class="col">
                <div class="card bg-light border-info mt-3 mb-3">
                    <div class="card-body" style="padding: 5px 10px">
                        <div class="float-end">
                            <small><a href="/docs/manual.md" target="_blank">Read the Docs</a></small>
                        </div>
                        <small>BinRec <code>v{{g.binrec_version}}</code></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
