{% extends "base.html" %}

{% block head %}
<title>Binrec</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Binrec - Dynamic Binary Lifting and Recompilation</h1>

        <h2>Projects</h2>

        <a href="{{url_for('add_project')}}" class='btn btn-primary'>New Project</a>

        <ul>
            {% for project in projects %}
            <li>
                <a href="{{url_for('project_details', project=project)}}">{{project}}</a>
            </li>
            {% endfor %}
        </ul>

        {% if not projects %}
        <em>No projects have been created yet. Add one!</em>
        {% endif %}
    </div>
</div>
{% endblock %}
