{% extends "base.html" %}

{% block head %}
<title>Binrec Project: {{project}}</title>
{% endblock %}

{% block body %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Projects</a></li>
        <li class="breadcrumb-item active">{{project}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <h1>Binrec Project: {{project}}</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>State:</th>
                    <td>{{state}}</td>
                </tr>
                <tr>
                    <th>Collected Traces:</th>
                    <td>
                        {{collected_trace_count}}
                        {% if collected_trace_count and not is_running %}
                        <form action="{{url_for('clear_trace_data', project=project)}}" method="POST">
                            <button type="submit" class="btn btn-danger">Clear Collected Trace Data</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Previous Recovery Result:</th>
                    <td>
                        {% if is_running %}
                        Active
                        {% elif previous_lift_result is none %}
                        Unknown
                        {% elif previous_lift_result == 0 %}
                        Success
                        {% else %}
                        Error (code: {{previous_lift_result}})
                        {% endif %}

                        {% if has_worker_log and not is_running %}
                        <a class='btn btn-info' href="{{url_for('download_worker_log', project=project)}}">
                            Download Previous Recovery Log
                        </a>
                        {% endif %}
                    </td>
                </tr>

                {% if previous_lift_result == 0 %}
                <tr>
                    <th>Recovered Directory:</th>
                    <td><a href="{{url_for('open_recovered_directory', project=project)}}">{{recovered_directory}}</a></td>
                </tr>
                {% endif %}

                <tr>
                    <th>Available Actions:</th>
                    <td>
                        {% if can_recover %}
                        <form action="{{url_for('start_recover_project', project=project)}}" method="POST">
                            <button type="submit" class="btn btn-success">Recover Project</button>
                        </form>
                        {% elif trace_count %}
                        <em>The project can be recovered after the worker finishes the current job</em>
                        {% else %}
                        <em>Add at least one trace to recover project.</em>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>




        <h2>Traces</h2>

        <a class='btn btn-primary' href="{{url_for('add_trace', project=project)}}">Add Trace</a>

        {% for trace in campaign.traces %}
        {% set trace_id = loop.index0 %}
        <div class="card mt-3">
            <div class="card-header">
                <h4>
                    {% if trace.name %}
                    {{trace.name}}
                    {% else %}
                    <em>anonymous trace</em>
                    {% endif %}
                    (id: trace_id)
                </h4>
            </div>

            <table class="table m-0">
                <thead>
                    <tr>
                        <th class="shrink">Arguments</th>
                        <td class="table-light"><code>{{trace.command_line_args | join(' ')}}</code></td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for arg in trace.args %}
                    <tr>
                        <td class="shrink">
                            {% if arg.is_symbolic %}
                            <span class="badge rounded-pill text-bg-success">{{loop.index}}. Symbolic</span>
                            {% else %}
                            <span class="badge rounded-pill text-bg-secondary">{{loop.index}}. Concrete</spam>
                            {% endif %}
                        </td>
                        <td class="table-light"><code>{{arg.concrete_value}}</code></td>
                    </tr>
                    {% endfor %}
                    {% if trace.stdin %}
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="shrink">Stdin</th>
                            <td>
                                <pre class="code-block">{{trace.stdin}}</pre>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="shrink">Input Files</th>
                            <td>
                                <a href="{{url_for('add_input_file', project=project, trace_id=trace_id)}}" class="btn btn-primary btn-sm">
                                    Add Input File
                                </a>
                            </td>
                        </tr>

                        {% for input_file in trace.input_files %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <div class="card">
                                    <div class="card-body">
                                        <dl>
                                            <dt>Source</dt>
                                            <dd><code>{{input_file.source}}</code></dd>

                                            <dt>Destination</dt>
                                            <dd><code>{{input_file.resolve_destination()}}</code></dd>

                                            <dt>Permissions</dt>
                                            <dd><code>{{input_file.resolve_permissions()}}</code></dd>
                                        </dl>
                                    </div>
                                    <div class="card-footer text-end">
                                        <form action="{{url_for('remove_input_file', project=project, trace_id=trace_id, input_file_id=loop.index0)}}" method="POST">
                                            <button type="submit" class="btn btn-warning btn-sm">Remove Input File</button>
                                        </form>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </tbody>
            </table>

            <div class="card-footer text-end">
                <form action="{{url_for('remove_trace', project=project, trace_id=trace_id)}}" method="POST">
                    <button type="submit" class="btn btn-warning btn-sm">Remove Trace</button>
                </form>
            </div>
        </div>

        <!--
        <h3 class="mt-5">
            {% if trace.name %}
                {{trace.name}}
            {% else %}
                <em class="text-muted">[anonymous trace]</em>
            {% endif %}
            (id: {{loop.index0}})
        </h3>

        <form action="{{url_for('remove_trace', project=project, trace_id=loop.index0)}}" method="POST">
            <button type="submit" class="btn btn-warning btn-sm">Remove Trace</button>
        </form>

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th class="shrink">Arguments</th>
                    <td class="table-light"><code>{{trace.command_line_args | join(' ')}}</code></td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for arg in trace.args %}
                <tr>
                    <td class="shrink">
                        {% if arg.is_symbolic %}
                        <span class="badge rounded-pill text-bg-success">{{loop.index}}. Symbolic</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-secondary">{{loop.index}}. Concrete</spam>
                        {% endif %}
                    </td>
                    <td class="table-light"><code>{{arg.concrete_value}}</code></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    -->
        {% endfor %}
    </div>
</div>




{% endblock %}
