/*********************************************************/
/* Machine: TIGER64 (White)                              
/*                                                       
/* (c) 2013 Oreans Technologies                          
/*********************************************************/

[General]

MachineId = 0x28E9D501
MachineSignature = 0x8425B34E
ProductSupport = WinLicense, Virtualizer, Themida
FileVersionEncoded = 0x51829392


[Architecture]

Name = TIGER64
Bits = 64
MaxCPUs = 8
Emulates = IA64


[Processor]

Name = (White)
HardwareEncryption = 97Jd7N1826GTuwemaps82ysklftK726Hg4g7a81ms623H529Ks728sntJKKIIslH6Ksy1nal4l25amdtB

MemoryUsage = 1000 KB
Speed = 92
Complexity = 35
RelocateRegs = Yes
RelocateStages = Yes
OpcodePermutation = Yes
RelocateHandlers = Yes
JoinUndefinedOpcodes = No
AllowAvidFields = Yes
ExpandedInstructionSet = Yes
MergeStages = Yes
EnableRevirtualization = Yes
EnableJoinHandlers = Yes
EnableStageGarbage = Yes
SmartInstructionsRelocation = Yes
EnableHandlerTimes = Yes

EnableBreakPoints = No
EnableDebugMode = No
EnableInterruptTrace = No


EnableFakeJumps = No
EnableFakeConditionalJumps = No
PermutateHandlers = No
MutateHandlers = No


/* Explicit modification for specific opcodes */

[Opcodes]

Group1Mnemonics = ADD, MOV, SUB, AND, XOR, OR, POP, PUSH
Group1Garbage = [3]
Group1Avid = [1..3]
Group1Times = [1..3]

Group2Mnemonics = ROL, ROR, RCL, SHL, RCR, SHR, MOVZX, MOVSX
Group2Garbage = [2]
Group2Avid = [1..2]
Group2Times = [1..2]

Group3Mnemonics = CMP, TEST, DEC, INC, NOT, NEG
Group3Garbage = [2]
Group3Avid = [1..3]
Group3Times = [1..2]

Group4Mnemonics = IMUL, LODSB, LODSW, LODSD, LODSQ, SCASB, SCASW, SCASD, SCASQ, CMPSB, CMPSW, CMPSD, CMPSQ, STOSB, STOSW, STOSD, STOSQ, MOVSB, MOVSW, MOVSD, MOVSQ, PUSHFD, POPFD
Group4Garbage = [2]
Group4Avid = [1..3]
Group4Times = [1..2]

Group5Mnemonics = JCC_INSIDE, JUMP_OUTSIDE, JUMP_INSIDE, CALL, UNDEF, RET, JCC_OUTSIDE
Group5Garbage = [3]
Group5Avid = [0..0]
Group5Times = [1..3]

