/*********************************************************/
/* Machine: TIGER32 (Black)                              
/*                                                       
/* (c) 2013 Oreans Technologies                          
/*********************************************************/

[General]

MachineId =  0x3E34470A
MachineSignature = 0x0F33108D
ProductSupport = WinLicense, Virtualizer, Themida
FileVersionEncoded = 0x51829392


[Architecture]

Name = TIGER32
Bits = 32
MaxCPUs = 8
Emulates = IA32


[Processor]

Name = (Black)
HardwareEncryption = 97Jd7N1826GTuwemaps82ysklftK726Hg4g7a81ms623H529Ks728sntJKKIIslH6Ksy1nal4l25amdtB

MemoryUsage = 1650 KB
Speed = 85
Complexity = 60
RelocateRegs = Yes
RelocateStages = Yes
OpcodePermutation = Yes
RelocateHandlers = Yes
JoinUndefinedOpcodes = No
AllowAvidFields = Yes
ExpandedInstructionSet = Yes
MergeStages = Yes
EnableRevirtualization = Yes
EnableJoinHandlers = Yes
EnableStageGarbage = Yes
SmartInstructionsRelocation = Yes
EnableHandlerTimes = Yes

EnableBreakPoints = No
EnableDebugMode = No
EnableInterruptTrace = No

EnableFakeJumps = No
EnableFakeConditionalJumps = No
PermutateHandlers = No
MutateHandlers = No


/* Explicit modification for specific opcodes */

[Opcodes]

Group1Mnemonics = ADD, MOV, SUB, AND, XOR, OR, POP, PUSH
Group1Garbage = [5]
Group1Avid = [5..15]
Group1Times = [2..6]

Group2Mnemonics = ROL, ROR, RCL, SHL, RCR, SHR, MOVZX, MOVSX
Group2Garbage = [4]
Group2Avid = [4..8]
Group2Times = [1..4]

Group3Mnemonics = CMP, TEST, DEC, INC, NOT, NEG
Group3Garbage = [5]
Group3Avid = [4..10]
Group3Times = [1..4]

Group4Mnemonics = IMUL, LODSB, LODSW, LODSD, SCASB, SCASW, SCASD, CMPSB, CMPSW, CMPSD, STOSB, STOSW, STOSD, MOVSB, MOVSW, MOVSD, PUSHFD, POPFD
Group4Garbage = [4]
Group4Avid = [4..10]
Group4Times = [1..3]

Group5Mnemonics = JCC_INSIDE, JUMP_OUTSIDE, JUMP_INSIDE, CALL, UNDEF, RET, JCC_OUTSIDE
Group5Garbage = [5]
Group5Avid = [0..0]
Group5Times = [3..7]



